
<br />
<h3 id="tableLabel">Libros</h3>

<br />
<p *ngIf="!books"><em>Cargando...</em></p>
<div class="card">
  <h5 class="card-header text-center" style="font-size:0.86rem; font-weight:600">Filtros</h5>
  <div class="card-body">
    <form class="form-inline" #FiltersForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group mr-2">
        <label for="AuthorName" class="mr-2" style="font-size:0.86rem; font-weight:600">Autor: </label>
        <input type="text" placeholder="Autor" id="AuthorName" name="AuthorName" [(ngModel)]="model.AuthorName" class="form-control form-control-sm col-sm-12" />
      </div>
      <div class="form-group mr-2">
        <label for="StartDate" class="mr-2" style="font-size:0.86rem; font-weight:600">Fecha Inicial: </label>
        <input type="date" placeholder="Fecha de Inicio" id="StartDate" name="StartDate" [(ngModel)]="model.StartDate" class="form-control form-control-sm col-sm-12" />
      </div>
      <div class="form-group mr-2">
        <label for="FinalhDate" class="mr-2" style="font-size:0.86rem; font-weight:600">Fecha Final: </label>
        <input type="date" placeholder="Fecha de Final" id="FinalhDate" name="FinalhDate" [(ngModel)]="model.FinalhDate" class="form-control form-control-sm col-sm-12" />
      </div>
      <br />
      <hr />
      <div class="form-group mr-2">
        <button class="mr-2 btn btn-sm btn-primary">
          Filtrar
        </button>
        <button class="mr-2 btn btn-sm btn-danger" (click)="clearFilters()">
          Limpiar
        </button>
        <button class="mr-2 btn btn-sm btn-warning" (click)="exportExcel()">
          Export to Excel
        </button>
      </div>
    </form>
  </div>
</div>

<br />
<hr />
<table id="excel-books" class='table table-striped' aria-labelledby="tableLabel" *ngIf="books" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Titulo</th>
      <th>Sinopsis</th>
      <th>Paginas</th>
      <th>Autor</th>
      <th>Fecha de Publicacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.isbn }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.synopsis }}</td>
      <td>{{ book.n_Pages }}</td>
      <td>{{ book.autorName }}</td>
      <td>{{ book.publishDate }}</td>
    </tr>
  </tbody>
</table>

