<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info" style="font-size:0.8rem">
    <strong>Acceso </strong> -
    <strong>Username:</strong> pruebastecnicas@localhost.com.co
    <strong>Password:</strong> Pruebastecnicas2020+-*
    <br />
  </div>
  <div class="card">
    <h5 class="card-header text-center">Prueba Tecnica Full Stack Angular .Net</h5>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-sm btn-primary btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0 text-center" style="font-size:0.8rem;font-weight:600">{{error}}</div>
      </form>
    </div>
  </div>
</div>
