
<h3>Prueba Tecnica Full Stack Angular .Net</h3>
<br />
<h5>Bienvenido {{user.username}}</h5>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<strong>Cree una aplicación Web Api siguiendo las siguientes recomendaciones</strong>
<ul>
  <li>1.	Cree una capa de acceso a datos que consuma información de una base de datos SQL Server como su repositorio de datos.</li>
  <li>2.	Cree una capa de lógica de negocios para que pueda recuperar la información de los Autores y Libros.</li>
  <li>3.	Cree un controlador WEB API que pueda devolver información para un autor determinado o Múltiples autores y Libros.</li>
  <li style="background:#808080;color:#ffffff">4.	Implementa un Endpoint que permita sincronizar la información de los autores y libros desde la web api: https://fakerestapi.azurewebsites.net/index.html, la información obtenida deberá ser almacenada en una base de datos SQL Server (Debe considerar la creación del modelo de datos acorde a la información suministrada por la Api) </li>
</ul>

<strong>Cree una aplicación Frontend siguiendo las siguientes recomendaciones</strong>
<ul>
  <li style="background:#808080;color:#ffffff">1.	Implemente un formulario de Autenticación de usuarios consumiendo el controlador de usuarios de la Web Api https://fakerestapi.azurewebsites.net/index.html</li>
  <li style="background:rgb(128 128 128 / 0.63);color:#ffffff">2.	Cree una vista la cual permita realizar el consumo del servicio de sincronización de Autores Y libros. Se debe mostrar un mensaje (Modal) que indique el proceso ha finalizado.</li>
  <li>3.	Cree una vista la cual permita consultar los libros filtrados por autor y fecha de publicación (fecha inicio – fecha fin). El contenido de la respuesta deberá mostrarse sobre una tabla o grid que permita ornear por cualquier columna.</li>
  <li>4.	La aplicación debe permitir exportar el contenido de las tablas o grid a archivos de Excel.</li>
</ul>

